/* _static/css/custom.css */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f9fcfb;
}

h1, h2, h3 {
    color: #205072;
}

a {
    color: #289672;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.admonition-title {
    background-color: #c3eec5;
    color: #004d40;
    font-weight: bold;
}
